body {
  text-align: center;
  background-color: rgb(4, 4, 68);
  color: white;
  font-family: Copperplate, "Copperplate Gothic Light";
}

#header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

h1 {
  font-size: 2em;
}

#logo {
  max-width: 400px;
  width: 50%;
  margin: 20px;
}

#overall-body-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  flex-wrap: wrap;
}

.menu:hover, .option:hover {
  background-color: #FF8326;
}

#question, .option, .prizeladder, .prize, .menu {
  height: 50px;
  width: 310px;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: center;
  margin-top: 10px;
  color: white;
  border-radius: 9999px;
  padding-left: 10px;
  outline-style: groove;

}

.menu, .prize {
  justify-content: center;
}

#question {
  height: 75px;
  width: 650px;
  justify-content: center;
}

/* blinking button https://www.codegrepper.com/code-examples/css/how+to+make+a+box+blink+in+css */
.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* disabled-div for events */
.disabled-div {
  pointer-events: none;
}


