body {
  text-align: center;
  background-color: rgb(4, 4, 68);
  color: white;
  font-family: Copperplate, "Copperplate Gothic Light";
}

#header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

h1 {
  font-size: 2em;
}

#logo {
  max-width: 400px;
  width: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
  min-width: 150px;
}

#overall-body-container,
#overall-footer-container,
.lifelines-container,
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 15px;
}

.lifelines-container {
  justify-content: left;
}

.lifeline-container {
  display: flex;
}

#overall-body-container {
  flex-direction: row;
  flex-wrap: nowrap;
}

.startmenu {
  display: block;
  justify-content: center;
  align-items: center;
}

.menu:hover,
.option:hover,
.back:hover,
.button:hover {
  background-color: #ff8326;
}

#question,
.option,
.prize,
.menu,
.button,
.back {
  height: 50px;
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: center;
  color: white;
  border-radius: 3rem;
  padding-left: 15px;
  padding-right: 15px;
  border-style: solid;
  border-width: 2px;
}

.button,
.menu,
.prize,
.back {
  justify-content: center;
  margin-bottom: 10px;
}

.rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  row-gap: 15px;
  width: 630px;
}

.header {
  font-size: 1.5em;
}

.body {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: none;
  max-width: 630px;
  width: 100%;
  color: #ff8326;
}

.lifeline-container {
  column-gap: 15px;
}

.iconimg {
  width: 65%;
}

.prize {
  margin: 6px;
  height: 35px;
}

.ladder {
  display: block;
  margin-top: 5px;
}

.timerbank,
.lifeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  min-width: 73px;
  max-width: 5rem;
}

.display,
.text,
.lifelineimg {
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
}

.display {
  max-width: 2.5rem;
}

#question {
  height: 75px;
  width: 630px;
  justify-content: center;
}

.qn,
.opt {
  width: 100%;
}

#myChart {
  display: none;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

/* blinking button https://www.codegrepper.com/code-examples/css/how+to+make+a+box+blink+in+css */
.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* disabled-div for events */
.disabled-div {
  pointer-events: none;
}

/* Modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: rgb(4, 4, 68);
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: rgb(4, 4, 68);
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.finalscore,
.scoreboard {
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
}

@media only screen and (max-width: 683px) {
  .option {
    flex: 1 1 auto;
  }
}